.container {
  max-width: 1212px;
  margin: 0 auto;
}

.slogan {
  display: inline-block;
  vertical-align: middle;
  margin: 24px 0 0 25px;
  border-left: 2px solid #3a4a58;
  font-size: 23px;
  line-height: 19px;
  padding: 0 0 0 30px;
  font-family: FlamaBold;
}

#load_posts_container {
  padding: 30px 0 15px;
  overflow: hidden;
}

.post-banner {
  overflow: hidden;
  max-height: 729px;
}

.post-banner img {
  width: 100%;
}

.single-blog-area {
  overflow: hidden;
  position: relative;
  margin: -366px 0 0;
}

.single-blog-area .container {
  background: #fff;
  padding: 46px 52px;
}

.single-blog-area .saboxplugin-wrap {
  border: none;
}

.single-blog-area .saboxplugin-wrap .saboxplugin-gravatar {
  float: none;
  padding: 0;
}

.single-blog-area .saboxplugin-wrap .saboxplugin-authorname {
  margin: 20px 0 0;
}

.single-blog-area .saboxplugin-wrap .saboxplugin-desc {
  margin: 0;
}

.related-blog-area {
  overflow: hidden;
  background: #eceff2;
  border-top: 1px solid #c8ced3;
  padding: 40px 0 20px;
}

.related-blog-area .blog-heading {
  font-size: 20px;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Flama-Medium,Helvetica,Arial,sans-serif;
}

.relpost-block-container .relpost-block-single-image {
  width: 100% !important;
  height: 209px !important;
}

.side_box .sfsi_wicons {
  margin: 0 20px 0 0 !important;
}

.social-area .social_icons,
.social-area span {
  float: left;
}

.tag-area {
  overflow: hidden;
  font-size: 19px;
  line-height: 21px;
  margin: 0 0 31px;
}

.tag-area .box {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.tag-area span {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 1000px;
  }

  .blog_left {
    width: 60%;
    font-size: 16px;
  }

  #sidebar {
    width: 35%;
  }

  .post-banner {
    height: 580px;
  }
}

@media only screen and (max-width: 1200px) {
  .single-blog-area .container {
    width: 800px;
    padding: 50px 20px 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 750px;
  }

  .blog_left {
    width: 60%;
    font-size: 17px;
  }

  #sidebar {
    width: 35%;
  }

  #menu_container {
    font-size: 12px;
  }

  .single-blog-area .container {
    width: 600px;
    padding: 50px 20px;
  }

  #menu_container ul {
    padding: 10px 0;
  }

  #menu_container ul li a {
    margin: 0 0 0 20px;
  }
}

#Contributors .head-block {
  overflow: hidden;
  padding: 95px 0 89px;
}

#Contributors .head-block h2 {
  font-weight: normal;
  font-size: 40px;
  margin: 10px 0 13px;
  font-family: Flama-Book,Helvetica,Arial,sans-serif;
}

#Contributors p {
  font-family: Flama-Book,Helvetica,Arial,sans-serif;
  margin: 0;
  line-height: 32px;
  font-size: 18px;
}

.Contributors-info {
  padding: 60px 0;
  border-top: 1px solid #ccc;
  font-style: normal;
  overflow: hidden;
}

.Contributors-info .container {
  position: relative;
}

.Contributors-info .img-box {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 0 46px 0 0;
}

.Contributors-info .img-box img {
  display: block;
  width: 100%;
  height: auto;
}

.Contributors-info .txt-holder {
  overflow: hidden;
  min-height: 142px;
  padding: 0 0 60px;
}

.Contributors-info .txt-holder .name {
  font-size: 30px;
  display: block;
  line-height: 22px;
  margin: 0 0 15px;
  font-family: Flama-Book,Helvetica,Arial,sans-serif;
}

.Contributors-info .txt-holder .description {
  font-size: 18px;
  display: block;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 6px 0;
  font-family: Flama-Book,Helvetica,Arial,sans-serif;
}

.Contributors-info p {
  margin: 0 0 30px;
}

.Contributors-info .txt-holder .footer-area {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.Contributors-info .txt-holder .btn-more {
  float: right;
  font-family: Flama-Medium,Helvetica,Arial,sans-serif;
  padding: 12px 35px;
  border: 1px solid #969ea6;
  font-style: normal;
}

.Contributors-bg {
  background: #eceff2;
}
